body {
  overflow-x: hidden;
  background-color: rgb(209, 209, 209);
}

.title-main {
  text-indent: 30px;
}

.form-style {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  border: 5px solid #007573;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 20px;
}

.label-style {
  display: flex;
  height: 100px;
  align-items: center;
  text-indent: 50px;
  gap: 15px;
  font-size: 25px;
  font-weight: bold;
}

.input-style {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  text-indent: 10px;
  font-size: 20px;
}

.plus-btn {
  color: white;
  background-color: #007573;
  width: 150px;
  align-items: center;
  height: 35px;
  margin-left: auto;
  margin-right: 50px;
  border-radius: 10px;
  border-style: none;
}

.plus-btn:hover {
  cursor: pointer;
  color: #007573;
  background-color: white;
}

.title-work,
.title-done {
  text-indent: 30px;
  line-height: 50px;
}

.work-box,
.done-box {
  display: flex;
  flex-wrap: wrap; /* 넘치면 다음 줄로 이동 */
  max-width: 100%;
  min-height: auto; /* 부모 요소의 높이 유지 */
  margin-top: 0px;
}

.work-form,
.done-form {
  border: 5px solid #007573;
  border-radius: 25px;
  min-width: 350px;
  max-width: 500px;
  min-height: 250px;
  max-height: 350px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  line-height: 35px;
  word-wrap: break-word;
  overflow: break-word;
}

.work-title,
.done-title {
  display: block;
  text-indent: 20px;
  margin-top: 30px;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}

.work-content,
.done-content {
  display: block;
  text-indent: 20px;
  text-align: left;
}

.work-delete-btn,
.done-delete-btn {
  width: 150px;
  height: 50px;
  margin-right: 15px;
  background-color: rgb(239, 142, 142);
  color: white;
  font-size: 15px;
  border-radius: 15px;
  border-style: none;
}

.work-delete-btn:hover,
.done-delete-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(239, 142, 142);
}

.work-complete-btn {
  background-color: #007573;
  color: white;
  font-size: 15px;
  border-radius: 15px;
  border-style: none;
  width: 150px;
  height: 50px;
}

.work-complete-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #007573;
}

.done-cancel-btn {
  background-color: #faebd7;
  color: black;
  font-size: 15px;
  border-radius: 15px;
  border-style: none;
  width: 150px;
  height: 50px;
}

.done-cancel-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
